$theme-colors: (
  "primary": #00abf6
);

@import "../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #fafbfc;
}

.header {
  text-align: center;
  cursor: pointer;
  outline: none;
  img {
    vertical-align: middle;
  }
  .name {
    font-size: 47px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    vertical-align: middle;
    margin-left: 20px;
    text-align: right;
    color: #1a1a1a;
  }
}

.form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .form-box {
    display: block;
    margin: 45px auto;
    width: 400px;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .16);
    border-radius: 5px;

    .form-header {
      height: 64px;
      background: #00abf6;
      border-radius: 5px 5px 0 0;
      line-height: 64px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      color: white;
    }

    .form-content {
      padding: 20px;
    }
  }
}

body {
  overflow-x: hidden;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  display: inline-flex;
  vertical-align: middle;
  font-weight: 500;
  font-size: 20px;
  color: white;
  line-height: 50px;
}

.sidebar .nav-link .material-icons-outlined {
  margin-right: 10px;
  line-height: 50px;
  color: white;
}

.sidebar .nav-link.active {
  color: white;
}

.sidebar .nav-link:hover .material-icons-outlined,
.sidebar .nav-link.active .material-icons-outlined {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

a {
  cursor: pointer
}

#nav {
  height: 55px;
  background: white;
  color: #1a1a1a;
  box-shadow: 0 2px 2px rgb(0, 0, 0, .16)
}
