<div class="form">
  <div id="passwordResetForm">
    <div class="header" routerLink="/">
      <img src="/assets/logo.svg" height="100" alt="storBox Logo"/>
      <span class="name">My storage box</span>
    </div>
    <div class="form-box">
      <div class="form-header">
        Reset your password
      </div>
      <div class="form-content">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" name="username"/>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="E-Mail" name="email"/>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Reset Password</button>
      </div>
    </div>
  </div>
</div>
